body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #333;
  transition: background-color 0.3s ease;
}

.random-letter {
  color: #666;
}

.no-highlight {
  background-color: #f4f4f9 !important;
  color: #333 !important;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4682b4;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #315f8a;
}

/* Індивідуальні кольори для кожного слова */
#ff6347 {
  background-color: #ff6347;
  color: white;
}

#4682b4 {
  background-color: #4682b4;
  color: white;
}

#32cd32 {
  background-color: #32cd32;
  color: white;
}

#ffa500 {
  background-color: #ffa500;
  color: white;
}

#8a2be2 {
  background-color: #8a2be2;
  color: white;
}

